{# affichage des messages flash #}

{% if app.session.flashBag.has('info') %}
    <strong style="color: #FFFFFF">Messages d'information</strong>
    <ul>
        {% for msg in app.session.flashBag.get('info') %}
            <li style="color: #FFFFFF">{{ msg }}</li>
        {% endfor %}
    </ul>
{% endif %}
