{# template intermédiaire (niveau 2) spécifique au site de vente #}
{% extends 'Layouts/layout.html.twig' %}

{% block title %}Vente{% endblock %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block body %}
    <div id="header">
        {% include 'Layouts/header.html.twig' %}
    </div>

    <div id="menu">
        {% include 'Accueil/actions.html.twig' %}
    </div>

    <div id="flash">
        {% include 'Layouts/flash.html.twig' %}
    </div>

    <div id="titre">
        <h1>{% block titre_principal %}Site de vente{% endblock %}</h1>
    </div>

    <div id="vue" >
        {% block vue %}{% endblock %}
    </div>

    <div id="footer" style="text-align: center">
        {% include 'Layouts/footer.html.twig' %}
    </div>
{% endblock %}