{% extends 'Layouts/layout_vente.html.twig' %}
{% block title %} {{ parent() }} : Accueil {% endblock %}
{% block vue %}
<h1 style="text-align: center">BIENVENUE A STORE.COM</h1>
    <h2 style="text-align: center">ICI C'EST L'ACCUEIL</h2>

{% endblock %}
